body {
  background-color: #81D0D0;
  font-family: "Arial";
}

.container {
  background-color: rgb(220, 220, 220);
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 125px;
  margin-right: 125px;
  border-radius: 20px;
  padding: 20px;
  padding-right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.catalog-title {
  position: relative;
  top: 35px;
  text-align: center;
}

.sort-by-label {
  font-weight: bold;
  position: absolute;
  right: 350px;
}

#sortBy {
  position: absolute;
  right: 180px;
}

option {
}

.catalog-container {
  display: flex;
  flex-direction: column;
}

.castle-container {

}

.castle-title {
}

.castle-image {
  float: left;
  border-radius: 5px;
  height: 250px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.castle-type, .castle-region, .castle-condition, .castle-description {
  position: relative;
  top: 3%;
  left: 10px;
}

.castle-type {
}

.castle-region {
}

.castle-condition {
  font-style: italic;
  font-weight: bold;
}

.castle-description {
  text-indent: 40px;
  word-spacing: 0.5px;
  text-align: justify;
}
